Auto x posting (1).json
{
  "name": "Auto x posting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1216,
        -384
      ],
      "id": "8cbc30da-15a9-43ad-9910-1e17a5d9fc2a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://inc42.com/buzz/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1008,
        -384
      ],
      "id": "5a309a59-c47b-43f4-9411-1fbe9ad520a0",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7c5e5e4c-0701-4513-b7ea-e498650d8f44",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{$now.minus(1, 'days')}}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -800,
        -384
      ],
      "id": "3e864074-dcb8-4d29-b96b-859b9619db0c",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3538aa2b-5a5e-4b45-9c54-68434244e880",
              "name": "id",
              "value": "={{ $json.guid }}",
              "type": "string"
            },
            {
              "id": "443d3913-fb2e-47d7-8107-ce4a5f053205",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "c1364f3d-0fb1-447a-b703-9fdebf0793bb",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "b9db4c79-fe95-4d8f-b575-7ed8466a9fd8",
              "name": "content",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "f055dddf-a782-48d3-95d0-9576914c0859",
              "name": "pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "769e73b5-c766-4ffc-bbe7-eb52fbbd58a5",
              "name": "summary",
              "value": "",
              "type": "string"
            },
            {
              "id": "39067ed1-77b8-4e43-9234-25ae89c44185",
              "name": "source",
              "value": "Inc24",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -384
      ],
      "id": "516f699b-4432-40b2-b6fe-80bbe8ee58eb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Role\nYou are a viral Twitter (X) content strategist who understands curiosity gaps, emotional triggers, and scroll-stopping hooks.\n\n## Input Template\nYou will be given:\n- **Title**\n-**Content Summary**\n\n## Task\n- Write one highly viral Twitter post** based on the content.\n- Start with a **strong hook in the first line** that creates curiosity or tension.\n- Use **clear, simple language**.\n- Focus on **one core insight**, surprise, or slightly contrarian angle.\n- Make the reader feel like they'll miss out** if they don't read.\n- Keep it concise, punchy, and shareable**\n-add hashtags ** only 3 to 4 & relevant **.\n\n## Constraints\n- **Maximum 280 characters**\n-**No emojis⭑*\n-**No misleading clickbait** - curiosity must come from the content itself\n-**No - use** use - instead\n\n## Output Format\n- Return **only the tweet text**\n- Do not add explanations or extra text\n\n## Input\nTittle:  {{ $json.title }}\ncontent summary: {{ $json.summary || $json.content}}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -384,
        -384
      ],
      "id": "ce79a392-16a7-4856-956e-bed9810ec251",
      "name": "Basic LLM Chain",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-super-120b-a12b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -448,
        -176
      ],
      "id": "2cfc6522-c9d1-4a62-9402-4c5a043742b0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "uv8LfP8kdyLlYAcx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Role\nYou are a Twitter (X) virality scoring engine.\n\n## Input\nYou will be given:\n- Tweet text\n\n## Task\nEvaluate the tweet and oput a single normalized virality score from 0 to 100.\n\n## Scoring Parameters & Weights\nScore each parameter on a 1-10 scale internally, then apply weights:\n- Clarity & Credibility - 30%\n- Hook Strength - 25% \n- Curiosity Gap - 20%\n- Emotional Impact - 15%\n- Punch & Brevity - 10%\n\n## Calculation Rules\n- Apply the weights to each parameter score.\n- Sum the weighted values.\n- Normalize the final score to a 0-100 scale.\n\n## Output Rules\n- Output **only a single number** (integer or decimal).\n- Do not include labels, explanations, text, or formatting.\n- Do not include code blocks or markdown in the output.\n\n## Evaluation Guidelines\n- Be strict and consistent.\n- Penalize generic hooks, weak curiosity, or low emotional contrast.\n\n## Input Template\n {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -32,
        -384
      ],
      "id": "79fd9894-a3dc-46ab-9f24-c46efbf57205",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-super-120b-a12b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -96,
        -176
      ],
      "id": "fec598e3-a1d1-49d5-b389-e8b72d273a71",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "uv8LfP8kdyLlYAcx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "text",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        320,
        -384
      ],
      "id": "dba000e3-48d5-4dfb-a2f1-345b4ea993c0",
      "name": "Sort"
    },
    {
      "parameters": {
        "maxItems": 6
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        528,
        -384
      ],
      "id": "9be1860f-5400-4b15-b180-d1615460ad10",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a13b2b1-1a92-455c-a891-cac6bd32638e",
              "name": "id",
              "value": "={{ $('Edit Fields').item.json.id }}",
              "type": "string"
            },
            {
              "id": "3422bf5d-bf2c-40db-a456-0cd7985b1df9",
              "name": "link",
              "value": "={{ $('Edit Fields').item.json.link }}",
              "type": "string"
            },
            {
              "id": "48f770c0-b72a-433d-9c2b-d238b31ffd3b",
              "name": "tweet",
              "value": "={{ $('Basic LLM Chain').item.json.text }}",
              "type": "string"
            },
            {
              "id": "ab8cf171-93d6-4c36-af7b-4d723f85e83f",
              "name": "score",
              "value": "={{ $('Basic LLM Chain1').item.json.text }}",
              "type": "string"
            },
            {
              "id": "8682ada7-68f3-4405-b6a2-d3150bcd5427",
              "name": "status",
              "value": "CREATED",
              "type": "string"
            },
            {
              "id": "d2dcc292-6ccd-4cc5-9072-349f81acfe4f",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "0b0266b0-ae3a-4dfc-8ab8-801c665619e3",
              "name": "source",
              "value": "={{ $('Edit Fields').item.json.source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -384
      ],
      "id": "feccdcdc-9b33-464b-b54f-940754da75f6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk",
          "mode": "list",
          "cachedResultName": "My tweets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $json.id }}",
            "link": "={{ $json.link }}",
            "tweet": "={{ $json.tweet }}",
            "score": "={{ $json.score }}",
            "status": "={{ $json.status }}",
            "source": "={{ $json.source }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tweet",
              "displayName": "tweet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        -384
      ],
      "id": "548eb1b6-ef72-4ba6-aed4-3ab9d50328ac",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "swlhe6PokvYbevHw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        16
      ],
      "id": "fea22389-7ef9-4b92-bc42-0be11ffa5b84",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.buffer.com/mcp",
        "authentication": "bearerAuth",
        "tool": {
          "__rl": true,
          "value": "create_post",
          "mode": "list",
          "cachedResultName": "create_post"
        },
        "inputMode": "json",
        "jsonInput": "={\n  \"channelId\": \"6a3d6bd35ab6d2f106700f41\",\n  \"text\": \"{{ $json.tweet }}\",\n  \"schedulingType\": \"automatic\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1.1,
      "position": [
        -16,
        16
      ],
      "id": "b4aac1e4-2168-49f1-922a-48cf974145b5",
      "name": "MCP Client",
      "credentials": {
        "httpBearerAuth": {
          "id": "oUr3lo97OxGP4Dux",
          "name": "Bearer Auth account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk",
          "mode": "list",
          "cachedResultName": "My tweets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "CREATED"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        16
      ],
      "id": "0db54295-df53-4f2e-a00c-83d3a247a91d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "swlhe6PokvYbevHw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk",
          "mode": "list",
          "cachedResultName": "My tweets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $('Get row(s) in sheet').item.json.Id }}",
            "status": "POSTED"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tweet",
              "displayName": "tweet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        16
      ],
      "id": "a5f2c0a7-8569-42ab-bedf-71dc1fd586a5",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "swlhe6PokvYbevHw",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "MCP Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Indian/Chagos",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b672402e-aa75-4cda-956e-6aab87f46044",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a2817503544b257c21e7fda4dd5863a8105dd5e073d67c73d3b7b6a55751635"
  },
  "nodeGroups": [],
  "id": "f5UWXBK2g3YEyQzX",
  "tags": []
}