Email automation.json
{
  "name": "email11",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        -160
      ],
      "id": "bd8f9cbf-5799-4ac2-8409-959510c3af97",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk",
          "mode": "list",
          "cachedResultName": "My tweets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk/edit#gid=391979454",
          "__regex": "https:\\/\\/docs\\.google\\.com\\/spreadsheets\\/d\\/[0-9a-zA-Z\\-_]+.*\\#gid=([0-9]+)"
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -400,
        -160
      ],
      "id": "0507e90f-c408-4ab5-8a6a-0ff919331d24",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "swlhe6PokvYbevHw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33df836b-55ed-4b9d-bd1d-83d0064e3620",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "31b9a3c1-1071-4a88-af85-c044bc7feee0",
              "name": "Date",
              "value": "={{ $json.Date }}",
              "type": "string"
            },
            {
              "id": "c871f270-6a29-4099-b3ac-46251e42178a",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "4932d3c2-0100-4e49-9f0f-c17aa0e00293",
              "name": "Message",
              "value": "={{ $json.Message }}",
              "type": "string"
            },
            {
              "id": "9a548565-66a3-4b16-83c1-862a93f1d296",
              "name": "Status",
              "value": "={{ $json.Status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -160
      ],
      "id": "d68d02f3-9308-4031-9610-0a116ff8111e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Regarding Job Application",
        "emailType": "text",
        "message": "={{ $json.Message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        128,
        -160
      ],
      "id": "e9d8d85d-8267-4bd4-a12c-f06d5906a9bd",
      "name": "Send a message",
      "webhookId": "982bc086-620c-4cff-b7ba-fe74c96470de",
      "credentials": {
        "gmailOAuth2": {
          "id": "Hn89X5W1n0ZTxV0A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk",
          "mode": "list",
          "cachedResultName": "My tweets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 391979454,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTCAmvwmm_02glFF-1MEooO1I7UHRuJdQcbCgSGBZnk/edit#gid=391979454"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.labelIds[0] }}"
          },
          "matchingColumns": [
            "Status"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        -160
      ],
      "id": "7ead7b6d-2050-4797-8d72-354a05594571",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "swlhe6PokvYbevHw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b9fb8063-11db-45eb-b6e1-c26caefd75b4",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -32,
        -160
      ],
      "id": "f89702dc-439d-472f-a0ad-3d68d1645dc4",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9463316c-2b3e-438a-9d80-14916663be8a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a2817503544b257c21e7fda4dd5863a8105dd5e073d67c73d3b7b6a55751635"
  },
  "nodeGroups": [],
  "id": "z0lIQmCL16upniPl",
  "tags": []
}